In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('dumitru_anotations.xlsx')

#### Removing the unnecessary commas at the end of the photo names
df.image_name = df.image_name.str.replace(',', '')
df.describe()

       hair (Dumitru)  pen_marks(Dumitru)
count      116.000000          116.000000
mean         0.586207            0.198276
std          0.933148            0.400431
min          0.000000            0.000000
25%          0.000000            0.000000
50%          0.000000            0.000000
75%          1.000000            0.000000
max          3.000000            1.000000

## Saving the data as a csv

In [3]:
df.to_csv('dumitru_anotations.csv')